<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Monster:</strong>
  <%= @user.monster %>
</p>

<p>
  <strong>Baker:</strong>
  <%= @user.baker %>
</p>

<p>
  <strong>Waiver:</strong>
  <%= @user.waiver %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
